<div class="container">
  <h2>Moje grupy</h2>
  <hr/>
  <h3>Zarządzaj swoimi grupami </h3>
  <a class='btn btn-success' [routerLink]="['/my-groups','admin']">Moje założycielskie grupy</a>
  <h3> Moje grupy </h3>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Nazwa </th>
        <th>Opis grupy</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of groups; let i=index">
        <td>{{i+1}}</td>
        <td>{{group.name}}</td>
        <td>{{group.notatka}}</td>
        <td>
          <div>
            <button class="btn btn-danger btn-xs" (click)="clickButton(group._id.$id)">Opuść grupę</button>
            <popup (confirmClick)="removeUser()">
                <h3>Czy jesteś pewny, że chcesz opuścić grupę ?</h3>
            </popup>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
