<div class="container">
  <h2>Moje grupy</h2>
  <hr/>
  <h3>Zarządzaj swoimi grupami </h3>
  <a class='btn btn-success' [routerLink]="['/my-groups','admin']">Moje założycielskie grupy</a>
  <h3> Moje grupy </h3>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nazwa grupy</th>
        <th>Wiadomość od założyciela</th>
        <th>Usuń się z grupy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of groups; let i=index">
        <td>{{i+1}}</td>
        <td>{{group.name}}</td>
        <td>{{group.notatka}}</td>
        <!-- <td>
          <div *ngIf='group.users[0].role === "creator"' >
            <a class='btn btn-success' [routerLink]="['/my-groups','admin', group._id.$id]">Admin Panel</a>
          </div>
        </td> -->
        <td>
            <button class='btn btn-danger' (click)="removeUser(group._id.$id)">Usuń</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div>
  <h2 md-dialog-title>MY DIALOG</h2>
  <hr>
  <md-dialog-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime cum dolorem officiis assumenda rem alias, omnis nobis nam. Ratione soluta libero architecto cupiditate at fugit consectetur sit dignissimos vitae.
    <br>
    <br>
    <strong>{{data}}</strong>
  </md-dialog-content>
  <hr>
  <md-dialog-actions>
    <button md-raised-button (click)="onCloseConfirm()">CONFIRM</button>&nbsp;
    <button md-raised-button (click)="onCloseCancel()">CANCEL</button>
  </md-dialog-actions>
</div> -->
