<div class="container">
  <h2>Moje grupy - założycielski</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nazwa grupy</th>
        <th>Wiadomość</th>
        <th>Admin Panel </th>
        <th>Usuń grupę</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of groups; let i=index">
        <td>{{i+1}}</td>
        <td>{{group.name}}</td>
        <td>{{group.notatka}}</td>
        <td>
            <a class='btn btn-success' [routerLink]="['/my-groups','admin', group._id.$id]">Admin Panel</a>
        </td>
        <td>
            <button class='btn btn-danger' (click)="removeItem(group.name)">Usuń</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
