<div class="container">
  <h2>Grupy w których jestem założycielem</h2>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Nazwa </th>
        <th>Opis grupy</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of groups; let i=index">
        <td>{{i+1}}</td>
        <td>{{group.name}}</td>
        <td>{{group.notatka}}</td>
        <td>
            <a class='btn btn-success btn-xs' [routerLink]="['/my-groups','admin', group._id.$id]">Zarządzaj grupą</a>
        </td>
        <td>
          <div>
            <button class="btn btn-danger btn-xs" (click)="clickButton(group.name)">Usuń grupę</button>
            <popup (confirmClick)="removeItem()">
                <h3>Czy jesteś pewny, że chcesz usunąć grupę ?</h3>
            </popup>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
