<div class="container">
  <h2> System rezerwacji sal na Wydziale Matematyki i Informatyki</h2>
  <hr/>
  <h4>Aby <a routerLink="/reservation">zarezerwować salę</a> indywidualnie wybierz z MENU <b> Zarezerwuj salę </b></h4><br/>
  <h4>Aby <a routerLink="/search-group">wyszukać grupę</a> wybierz z MENU <b> Wyszukaj grupę</b></h4><br/>
  <h4>Aby <a routerLink="/new-group">utworzyć nową grupę</a> wybierz z MENU <b> Utwórz grupę</b></h4><br/>
  <h4>Aby <a routerLink="/reservation-groups">utworzyć rezerwacje</a> dla twojej grupy wybierz z MENU <b> Utwórz rezerwację dla grupy</b></h4><br/>
  <h4>Aby <a routerLink="/plan">sprawdzić plan</a> dla danej sali wybierz z MENU <b> Plan dostępności sal</b></h4>
</div>
