.login {
  background-color:	#F0F0F0;
  height: calc(100vh - 100px);
  position: relative;
}

.sign-in-button {
  padding: 15px 100px;
  background-color: #d34836;
  border-radius: 3px;
  color:#fff;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50%);
}

img {
  margin-left: calc(50% - 400px)
}

.sign-in-button:hover {
  background-color: #bc3315;
}

@media screen and (max-width: 780px) {
    img {
      display: none;
    }

    .sign-in-button {
      padding: 15px 50px;
      position: absolute;
      left: calc(50% - 120px);
      top: calc(50%);
    }
}
