<div class="login">
<div class="container">
        <div class="card card-container form">
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="login" id="inputEmail" class="form-control" placeholder="Login" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" routerLink="/dashboard">Sign in</button>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->
</div>