<div class="container" >
  <h3 class="headertekst">Moje rezerwacje grupowe</h3><br>
  <h4>Rezerwacje w grupach - w których jestem założycielem</h4>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Data</th>
        <th>Godzina</th>
        <th>Sala</th>
        <th>Nazwa rezerwacji</th>
        <th>Nazwa grupy</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let res of reservationDataCreator; let i=index">
        <td>{{i+1}}</td>
        <td>{{res.data}}</td>
        <td>{{res.godzina}}</td>
        <td>{{res.sala}}</td>
        <td>{{res.purpose}}</td>
        <td>{{res.name}}</td>
        <td>
          <div>
            <button class="btn btn-danger btn-xs" (click)="clickButtonPop1()">Usuń rezerwację</button>
            <popup #popup1 (confirmClick)="removeReservationCreator(res)">
                <h3>Czy jesteś pewny, że chcesz usunąć rezerwację ?</h3>
            </popup>
          </div>
        </td>
      </tr>
    </tbody>
  </table><br><br>

  <h4>Rezerwacje w grupach - w których jestem uczestnikiem</h4>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Data</th>
        <th>Godzina</th>
        <th>Sala</th>
        <th>Nazwa rezerwacji</th>
        <th>Cel spotkania</th>
        <th>Nazwa Grupy</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resUser of reservationDataUser; let i=index">
        <td>{{i+1}}</td>
        <td>{{resUser.data}}</td>
        <td>{{resUser.godzina}}</td>
        <td>{{resUser.sala}}</td>
        <td>{{resUser.purpose}}</td>
        <td>{{resUser.name}}</td>
        <td>
          <div>
            <button class="btn btn-danger btn-xs" (click)="clickButtonPop2()">Nie bierz udziału</button>
            <popup #popup2 (confirmClick)="removeReservationUser(resUser)">
                <h3>Czy jesteś pewny, że chcesz wypisać się z rezerwacji ?</h3>
            </popup>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
