.main-container{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex:1;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
  background-color: white;
}

md-sidenav a{
  display: flex;
  flex-direction: row;
  padding:10px;
  font-size: 16px;
  color:black;
}

.button{
    color:white;
    font-size: 20px;
    margin:8px;
}