.main-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
  background-color: white;
}

.sidenav ul {
  padding:0;
}

md-sidenav li a{
  text-decoration-line: none;
  font-size: 16px;
  color: #000;
}
md-sidenav li a:hover {
  color: 	#800080;
}
md-sidenav li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 10px;
  font-size: 16px;
  color: #000;
}

.button{
  color: #fff;
  font-size: 20px;
  margin: 8px;
}

.rounded-circle {
  border-radius: 50%;
}

.float-right {
  float: right !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.menu-header {
  background-color: #D3D3D3;
}
