.main-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
  background-color: white;
}

.sidenav ul {
  padding:0;
}

md-sidenav li a{
  text-decoration-line: none;
  font-size: 13px;
  color: #000;
}
md-sidenav li a:hover {
  text-decoration: underline;
}
md-sidenav li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 10px;
  font-size: 12px;
}

.button{
  color: #fff;
  font-size: 20px;
  margin: 8px;
}

.rounded-circle {
  border-radius: 50%;
}

.float-right {
  float: right !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.h0 {
    border-radius: 15px;
    border: 2px solid #CCD6DD;
    text-align: center;
}

.h1 {
 background-color:#3B5998 ;
  border-radius: 10px;
  color: white;
 text-align: center;
}

.h1a {
  background-color: #eef0f6;
}

.h2 {
 background-color:#3B5998 ;
  border-radius: 10px;
  color: white;
}

.h2a {
  background-color:#eef0f6;
}

.h3 {
  background-color:#3B5998 ;
  border-radius: 10px;
  color: white;
}

.h3a {
  background-color: #eef0f6;
}

.h4 {
  border-radius: 15px;
  border: 2px solid #CCD6DD;
}

