<div class="container" >
  <h2>Rezerwacja sali</h2>
    <form #reservationForm="ngForm" (ngSubmit)="save(reservationForm.value)">
      <label for="sala">
        <span>Wybierz salę</span>
        <span class="asteriskField">*</span>
      </label>
      <select multiple class="form-control" id="sala" ngModel name="sala" required>
        <option *ngFor="let room of rooms | orderBy :'number' " [value]="room.number" [selected]="room.number==9">{{room.number}}</option>
      </select>

      <label for="date">
        <span>Wybierz Datę</span>
        <span class="asteriskField">*</span>
      </label>
      <input class="form-control" id="data"  ngModel name="date" placeholder="YYYY-DD-MM" onfocus="(this.type='date')" onblur="(this.type='text')" type="date" required/>

      <label for="godzina">
        <span>Wybierz godzinę</span>
        <span class="asteriskField">*</span>
      </label>
      <select class="form-control" ngModel name="godzina" required>
        <option>8:15 - 9:45</option>
        <option>10:00 - 11:30</option>
        <option>11:45 - 13:15</option>
        <option>13:45 - 15:15</option>
        <option>15:30 - 17:00</option>
        <option>17:15 - 18:45</option>
      </select>

      <input class="btn float-xs-right" type="submit" value="Zatwierdź" />

      <div *ngIf="saved == 1 " class="card-block">
        <div class="alert alert-success">
          <strong>Potwierdzenie:</strong> Zatwierdzono rezerwację.
        </div>
      </div>

      <div *ngIf="saved == 0 " class="card-block">
        <div class="alert alert-warning">
          <span><strong>Sala w powyższym terminie została już wcześniej zarezerwowana.</strong>
          Proszę wybrać inną salę lub wolny termin.</span>
        </div>
      </div>
    </form>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    </div>
</div>
