.button-color {
  background-color: #808080;
}

.container {
  width: calc(100% - 400px);
  margin-left: 200px;
}

.res-date, .res-hour, .res-btn, .res-room {
  display: block;
  margin-top: 10px;
  line-height: 50px;
}

@media screen and (max-width: 780px) {
  .container {
    margin: 0;
    width: 100%;
  }
}
