<div class='container'>
  <h2>Panel założyciela grupy XYZ</h2>
  <h4> Dodaj notakę dla uczestników grupy</h4>

  <form #messageForm='ngForm' (ngSubmit)='saveNote(messageForm.value)'>
    <label for='textarea'>
      <textarea name='textarea' ngModel rows='4' cols='50'>
      </textarea>
    </label>

    <div>
      <input class='btn btn-success' type='submit' value='Wyslij'/>
    </div>
  </form>

  <div *ngIf="text" class="card-block">
    <div class="alert alert-success">
        Twoj notatka została wysłana
    </div>
  </div>

  <h4> Zarządzaj uczestnikami grupy </h4>

  <table class='table table-striped'>
    <thead>
      <tr>
        <th> # </th>
        <th> Imie </th>
        <th> Nazwisko </th>
        <th> Usuń </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let group of groupData; let i=index'>
        <td>  {{i+1}} </td>
        <td>  {{group.name}} </td>
        <td>  {{group.role}} </td>
        <td>  {{group.room}} </td>
      </tr>
    </tbody>
  </table>
</div>
