<div class="container2" >
  <h2>Moje rezerwacje</h2> 
   <div class="row">
     <div class="col-md-6">
          <table class="table">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Dzień</th>
                      <th>Godzina</th>
                      <th>Sala</th>
                      <th>Usuń</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let res of myReservations; let i=index">
                      <td>{{i+1}}</td>
                      <td>{{res.date}}</td>
                      <td>{{res.hours}}</td>
                      <td>{{res.room}}</td>
                      <td>
                        <button type="button" (click)="removeReservation(i)" class="btn btn-danger btn-xs" >Usuń</button>
                      </td>
                  </tr>
              </tbody>
          </table>
    </div> 
  </div>
</div>  


