.container {
  width: calc(100% - 400px);
  margin-left: 200px;
}

span {
  display: block;
  padding-bottom: 10px;
}

@media screen and (max-width: 780px) {
  .container {
    margin: 0;
    width: 100%;
  }
}
