<div class="container">
  <h1>Wyszukiwanie grupy</h1>
  <div class="col-md-4">
    <div class="card">
      <form #checkForm="ngForm" (ngSubmit)="save(checkForm.value)">
        <div class="card-block">
          <div class="form-group">
            <label for="name">
              <span> Szukaj po nazwie: </span>
              <input type="type" ngModel name="name" />
            </label>
          </div>
          <div class="form-group">
            <input class="btn float-xs-right" type="submit" value="Wyszukaj grupę" />
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="groupData" class="col-xs">
    <div class="col-xs">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>  </th>
            <th> Nazwa </th>
            <th> Założyciel </th>
            <th> Opis grupy </th>
            <th>  </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let group of groupData; let i=index">
            <td>  {{i+1}} </td>
            <td>  {{group.name}} </td>
            <td>  {{group.creator[0].imie}} {{group.creator[0].nazwisko}}</td>
            <td>  {{group.notatka}} </td>
            <td>
              <a class='btn btn-success' [routerLink]="['/search-group', group._id.$id]">Dołącz do grupy</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
